.image-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  inset: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}

.image-wrapper:hover .overlay {
  transform: scale(1);
}
